# --- OLD POWERSHELL KEYS (Required for Repo & Commits) ---

# --- SETTINGS ---
# Set the default AI to use when the tool starts
# Options: gemini, deepseek, kimi, ollama
API_MODEL_DEFAULT=OLLAMA

# Available AI model API keys.
API_KEY_CLAUDE=NULL
API_KEY_DEEPSEEK=
API_KEY_GEMINI=
API_KEY_GROK=NULL
API_KEY_KIMI=
API_KEY_META=NULL

# Available AI hubs
API_KEY_OLLAMA=
API_KEY_OPENROUTER=NULL
API_KEY_HUGGINGFACE=NULL

# GitHub Repository Personal Access Token
GITHUB_TOKEN=